.bom {
  display:none !important;
}


.contact-textarea::placeholder {
  font-size: 15px;
  padding-top: 1.25rem;
}


.gray-bg {
  background-color: #f4f4f5;
}


.card-trigger .child-target {
  opacity: 0;
  transition: opacity .2s ease-in ;
}

.card-trigger:hover .child-target {
  opacity: 1;
}

.custom-h{
  height: 20.8rem;
}

.custom-w {
  width: 16.8rem;
}

.custom-mt {
  margin-top: 4.8rem;
}

body {
  background: url('/static/media/circle.6f1eba2b.png') no-repeat;
  background-position: -90px 2400px;
  background-size: 30%;
}

.contact--options 
.contact--map a:hover img,
.contact--email a:hover img,
.contact--phone a:hover img {
  filter: brightness(419%)
}