.bom {
  display: none !important;
}


.contact-textarea::placeholder {
  font-size: 15px;
  padding-top: 1.25rem;
}


.gray-bg {
  background-color: #f4f4f5;
}


.card-trigger .child-target {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.card-trigger:hover .child-target {
  opacity: 1;
}

.custom-h {
  height: 20.8rem;
}

.custom-w {
  width: 16.8rem;
}

.custom-mt {
  margin-top: 4.8rem;
}

.question-section {
  background: url('/static/media/circle.6f1eba2b.png') no-repeat;
  background-position: -93px 50px;
  background-size: 400px 400px;
}


.phone--icon {
  filter: invert(50%) sepia(11%) saturate(1949%) hue-rotate(115deg) brightness(104%) contrast(86%);
}


.contact--options .contact--map a:hover .img-container,
.contact--email a:hover .img-container,
.contact--phone a:hover .img-container {
  background-color: #3d9c86;

}

.contact--map a:hover .img-container img,
.contact--email a:hover .img-container img,
.contact--phone a:hover .img-container img {
  filter: brightness(419%);
}