.bom {
  display: none !important;
}

/* Form Section */

.gray-bg {
  background-color: #f4f4f5;
}

.contact-textarea::placeholder {
  font-size: 15px;
  padding-top: 1.25rem;
}

/* Volunteers Section */

.card-trigger .child-target {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.card-trigger:hover .child-target {
  opacity: 1;
}

.card--fade>div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f3948;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.card-trigger:hover>.card--fade>div,
.social--icons:hover+.card--fade>div {
  opacity: 0.3;
}

.custom-h {
  height: 20.8rem;
}

.custom-w {
  width: 16.8rem;
}

.custom-mt {
  margin-top: 4.8rem;
}

/* Have Question  */

.question-section {
  background: url("/static/media/circle.6f1eba2b.png") no-repeat;
  background-position: -70px 55px;
  background-size: 390px 390px;
}

.phone--icon {
  filter: invert(50%) sepia(11%) saturate(1949%) hue-rotate(115deg) brightness(104%) contrast(86%);
}

.contact--options .contact--map a:hover .img-container,
.contact--email a:hover .img-container,
.contact--phone a:hover .img-container {
  background-color: #3d9c86;
}

.contact--map a:hover .img-container img,
.contact--email a:hover .img-container img,
.contact--phone a:hover .img-container img {
  filter: brightness(419%);
}

/* Donations Section */

.donation--section {
  background: url("/static/media/blocks.png") no-repeat;
  background-position: 0px 50px;
  background-size: 350px 390px;
}

.custom__line_height {
  line-height: 4.375rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.amount__btn:hover {
  filter: brightness(98%);
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.donation__select {
  height: 100%;
  text-align-last: center;
}

.donation__select option {
  background: #fff;
  color: #254151;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.cnt_min {
  display: inline-block;
  width: 2.5rem;
  height: 1.7rem;
  position: relative;
  padding: 0 1%;
}

.cnt_min input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.selected_img {
  pointer-events: auto;
  margin: 0;
}

.cnt_min input[type="radio"]:checked~.selected_img {
  border: solid 1px green;
  box-shadow: 0px 1px 4px 0px #ccc;
  border-radius: 5px;
}

.credit__title {
  color: #a0aec0;
}



/* Home Page Section */

.homepage--container {
  background: url('/static/media/dots.png') no-repeat;
  background-position: 80px 290px;
}


.homesection__greenbox {
  width: 150px;
  height: 150px;
  z-index: 999;
  right: 10px;
}

.homesection__redbox {
  width: 120px;
  height: 300px;
  top: 150px;
  right: 90px;
}